{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "function-paren-newline": "off",
        "no-shadow": [
            "error",
            {
                "builtinGlobals": false,
                "hoist": "functions",
                "allow": []
            }
        ],
        "max-len": [
            "error",
            {
                "code": 120,
                "ignoreComments": true,
                "ignoreTrailingComments": true,
                "ignoreStrings": true,
                "ignoreRegExpLiterals": true
            }
        ],
        "array-element-newline": [
            "error",
            {
                "ArrayExpression": "consistent",
                "ArrayPattern": {
                    "minItems": 1
                }
            }
        ]
    },
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    }
}
